/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important
.home
  .search-box
    width 35rem
    input
      width 100%
      border-radius 0

h1, h2, h3, h4, h5, h6, p, a, .footer
  font-family: $font-family-base
.navbar
  .site-name
    display none
.theme-container
  .sidebar
    padding 0
    background-color rgb(231, 234, 241)
    .nav-links
      margin-top 4em
.page
  background-color #F5F5F6
.footer ul
  padding-left 0
.home
  .features
    justify-content: center;
    .feature
      margin: 0 20px

// we need this because https://github.com/vuejs/vuepress/issues/2215 is not yet fixed,
// without this some css won't make it to production. ¯\_(ツ)_/¯
.content__default:not(.custom)
  max-width 740px
  margin 0 auto
  padding 2rem 2.5rem
.content__default:not(.custom) img {
  max-width 100%
}