/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

h1, h2, h3, h4, h5, h6, p, a, .footer
  font-family: $font-family-base
.navbar
  .site-name
    display none
.theme-container
  .sidebar
    padding 0
    background-color rgb(231, 234, 241)
    .nav-links
      margin-top 4em
.page
  background-color #F5F5F6
.footer ul
  padding-left 0