/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

h1, h2, h3, h4, h5, h6, p, a, .footer
  font-family: $font-family-base